<img src="http://openweathermap.org/img/w/{{ data.weather.0.icon }}.png" />
<h3>{{ data.name }}</h3>
<p>{{ data.weather.0.main }}<br/>{{ data.weather.0.description }}</p>
<p>Last updated: {{ timestamp|date("m/d/Y - H:i:s") }}</p>
